.search-result {
    border-bottom: 1px dashed #b1b1b2;
    padding: 0px 0 5px 0;
    margin-bottom: 5px;
}

    .search-result h3 {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 4px;
    }

.textbold {
    font-weight: bold;
}

