<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ATRCImages" value="D:\Data\E\Juststay-Latest\juststay-Dev\JustStay.Web\ATRCImages\"/>
    <add key="BannerImages" value="E:\Juststay-8-12-2019\juststay-Dev\juststay-Dev\JustStayWeb\BannerImages\"/>
    <add key="AmenityImages" value="D:\Data\E\Juststay-Latest\juststay-Dev\JustStay.Web\Aminities\"/>
    <add key="BlogImages" value="D:\Data\E\Juststay-Latest\juststay-Dev\JustStay.Web\BlogImages\"/>
    <add key="imagepath" value="https://www.juststay.in/ATRCImages/"/>
    <add key="MHId" value="28"/>
    <add key="Attachments" value="D:\Data\E\Juststay-Latest\juststay-Dev\JustStay.ATRC\EmailAttachments\"/>
  </appSettings>
  <connectionStrings>
    <add name="juststayDbEntities" connectionString="metadata=res://*/JustStayModel.csdl|res://*/JustStayModel.ssdl|res://*/JustStayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-FTH1QF19;initial catalog=juststayDb;integrated security=True;user id=sa;password=admin123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" enableEventValidation="true"/>
    <globalization culture="en-GB"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.6" maxRequestLength="1048576" executionTimeout="3600"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="BasicHttpBinding_IATRCService" />
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_ICommonService" />
        <binding name="BasicHttpBinding_ICityService" />
        <binding name="BasicHttpBinding_IFAQService" />
        <binding name="BasicHttpBinding_ILocationService" />
        <binding name="BasicHttpBinding_IBlogService" />
        <binding name="BasicHttpBinding_IBannerService" />
        <binding name="BasicHttpBinding_ICustomerService" />
        <binding name="BasicHttpBinding_IATRCBookingService" />
        <binding name="BasicHttpBinding_IOfferService" />
        <binding name="BasicHttpBinding_IMastersService" />
        <binding name="BasicHttpBinding_ITaxService" />
        <binding name="BasicHttpBinding_ICancellationPolicyService" />
        <binding name="BasicHttpBinding_IRestChairBookingService" />
        <binding name="BasicHttpBinding_IRestChairProfileService" />
        <binding name="BasicHttpBinding_IRCPaymentService" />
        <binding name="BasicHttpBinding_IRCRefundService" />
        <binding name="BasicHttpBinding_ICompanyService" />
        <binding name="BasicHttpBinding_IDashboardService" />
        <binding name="BasicHttpBinding_IErrorLogService" />
        <binding name="BasicHttpBinding_IMessageService" />
        <binding name="BasicHttpBinding_IReportService" />-->
        <!--<binding name="BasicHttpBinding_IUserService" />
          <binding name="BasicHttpBinding_IATRCService" />
          <binding name="BasicHttpBinding_ICommonService" />
          <binding name="BasicHttpBinding_IFAQService" />
          <binding name="BasicHttpBinding_ICityService" />
          <binding name="BasicHttpBinding_ILocationService" />
          <binding name="BasicHttpBinding_IMessageService" />
          <binding name="BasicHttpBinding_IBlogService" />
          <binding name="BasicHttpBinding_IBannerService" />
          <binding name="BasicHttpBinding_ICustomerService" />
          <binding name="BasicHttpBinding_IATRCBookingService" />
          <binding name="BasicHttpBinding_IOfferService" />
          <binding name="BasicHttpBinding_IMastersService" />
          <binding name="BasicHttpBinding_ITaxService" />
          <binding name="BasicHttpBinding_ICancellationPolicyService" />
          <binding name="BasicHttpBinding_IRestChairBookingService" />
          <binding name="BasicHttpBinding_IErrorLogService" />
          <binding name="BasicHttpBinding_IRestChairProfileService" />
          <binding name="BasicHttpBinding_IRCPaymentService" />
          <binding name="BasicHttpBinding_IRCRefundService" />
          <binding name="BasicHttpBinding_ICompanyService" />
          <binding name="BasicHttpBinding_IDashboardService" />
          <binding name="BasicHttpBinding_IReportService" />-->
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:56178/CustomerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService" contract="CustomerServiceReference.ICustomerService" name="BasicHttpBinding_ICustomerService" />
      <endpoint address="http://localhost:56178/RestChairBookingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestChairBookingService" contract="RCBServiceReference.IRestChairBookingService" name="BasicHttpBinding_IRestChairBookingService" />
      <endpoint address="http://localhost:56178/CancellationPolicyService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICancellationPolicyService" contract="CancellationPolicySerRef.ICancellationPolicyService" name="BasicHttpBinding_ICancellationPolicyService" />
      <endpoint address="http://localhost:56178/RestChairProfileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestChairProfileService" contract="RCProfileServiceReference.IRestChairProfileService" name="BasicHttpBinding_IRestChairProfileService" />
      <endpoint address="http://localhost:56178/RCPaymentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRCPaymentService" contract="RCPaymentServiceReference.IRCPaymentService" name="BasicHttpBinding_IRCPaymentService" />
      <endpoint address="http://localhost:56178/RCRefundService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRCRefundService" contract="RCRefundServiceReference.IRCRefundService" name="BasicHttpBinding_IRCRefundService" />
      <endpoint address="http://localhost:56178/CompanyService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompanyService" contract="CompanyServiceReference.ICompanyService" name="BasicHttpBinding_ICompanyService" />
      <endpoint address="http://localhost:56178/DashboardService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDashboardService" contract="DashboardServiceReference.IDashboardService" name="BasicHttpBinding_IDashboardService" />
      <endpoint address="http://localhost:56178/TaxService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaxService" contract="TaxServiceReference.ITaxService" name="BasicHttpBinding_ITaxService" />
      <endpoint address="http://localhost:56178/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:56178/BlogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlogService" contract="BlogServiceReference.IBlogService" name="BasicHttpBinding_IBlogService" />
      <endpoint address="http://localhost:56178/ATRCService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IATRCService" contract="ATRCServiceReference.IATRCService" name="BasicHttpBinding_IATRCService" />
      <endpoint address="http://localhost:56178/ATRCBookingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IATRCBookingService" contract="ATRCBookingServiceReference.IATRCBookingService" name="BasicHttpBinding_IATRCBookingService" />
      <endpoint address="http://localhost:56178/BannerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBannerService" contract="BannerServiceReference.IBannerService" name="BasicHttpBinding_IBannerService" />
      <endpoint address="http://localhost:56178/CityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICityService" contract="CityServiceReference.ICityService" name="BasicHttpBinding_ICityService" />
      <endpoint address="http://localhost:56178/CommonService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService" contract="CommonServiceReference.ICommonService" name="BasicHttpBinding_ICommonService" />
      <endpoint address="http://localhost:56178/ErrorLogService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IErrorLogService" contract="ErrorLogServiceReference.IErrorLogService" name="BasicHttpBinding_IErrorLogService" />
      <endpoint address="http://localhost:56178/FAQService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFAQService" contract="FAQServiceReference.IFAQService" name="BasicHttpBinding_IFAQService" />
      <endpoint address="http://localhost:56178/LocationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocationService" contract="LocationServiceReference.ILocationService" name="BasicHttpBinding_ILocationService" />
      <endpoint address="http://localhost:56178/MastersService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMastersService" contract="MastersServiceReference.IMastersService" name="BasicHttpBinding_IMastersService" />
      <endpoint address="http://localhost:56178/OfferService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOfferService" contract="OfferServiceReference.IOfferService" name="BasicHttpBinding_IOfferService" />
      <endpoint address="http://localhost:56178/MessageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessageService" contract="MessageServiceReference.IMessageService" name="BasicHttpBinding_IMessageService" />
      <endpoint address="http://localhost:56178/ReportService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService" contract="ReportServiceReference.IReportService" name="BasicHttpBinding_IReportService" />-->
      <!--<endpoint address="https://jstyservices.juststay.in/UserService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
       <endpoint address="https://jstyservices.juststay.in/ATRCService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IATRCService" contract="ATRCServiceReference.IATRCService" name="BasicHttpBinding_IATRCService" />
       <endpoint address="https://jstyservices.juststay.in/CommonService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_ICommonService" contract="CommonServiceReference.ICommonService" name="BasicHttpBinding_ICommonService" />
       <endpoint address="https://jstyservices.juststay.in/FAQService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IFAQService" contract="FAQServiceReference.IFAQService" name="BasicHttpBinding_IFAQService" />
       <endpoint address="https://jstyservices.juststay.in/CityService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_ICityService" contract="CityServiceReference.ICityService" name="BasicHttpBinding_ICityService" />
       <endpoint address="https://jstyservices.juststay.in/LocationService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_ILocationService" contract="LocationServiceReference.ILocationService" name="BasicHttpBinding_ILocationService" />
       <endpoint address="https://jstyservices.juststay.in/MessageService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IMessageService" contract="MessageServiceReference.IMessageService" name="BasicHttpBinding_IMessageService" />
       <endpoint address="https://jstyservices.juststay.in/BlogService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IBlogService" contract="BlogServiceReference.IBlogService" name="BasicHttpBinding_IBlogService" />
       <endpoint address="https://jstyservices.juststay.in/BannerService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IBannerService" contract="BannerServiceReference.IBannerService" name="BasicHttpBinding_IBannerService" />
       <endpoint address="https://jstyservices.juststay.in/CustomerService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_ICustomerService" contract="CustomerServiceReference.ICustomerService" name="BasicHttpBinding_ICustomerService" />
       <endpoint address="https://jstyservices.juststay.in/ATRCBookingService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IATRCBookingService" contract="ATRCBookingServiceReference.IATRCBookingService" name="BasicHttpBinding_IATRCBookingService" />
       <endpoint address="https://jstyservices.juststay.in/OfferService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IOfferService" contract="OfferServiceReference.IOfferService" name="BasicHttpBinding_IOfferService" />
       <endpoint address="https://jstyservices.juststay.in/MastersService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IMastersService" contract="MastersServiceReference.IMastersService" name="BasicHttpBinding_IMastersService" />
       <endpoint address="https://jstyservices.juststay.in/TaxService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_ITaxService" contract="TaxServiceReference.ITaxService" name="BasicHttpBinding_ITaxService" />
       <endpoint address="https://jstyservices.juststay.in/CancellationPolicyService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_ICancellationPolicyService" contract="CancellationPolicySerRef.ICancellationPolicyService" name="BasicHttpBinding_ICancellationPolicyService" />
       <endpoint address="https://jstyservices.juststay.in/RestChairBookingService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IRestChairBookingService"  contract="RCBServiceReference.IRestChairBookingService" name="BasicHttpBinding_IRestChairBookingService" />
       <endpoint address="https://jstyservices.juststay.in/ErrorLogService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IErrorLogService" contract="ErrorLogServiceReference.IErrorLogService" name="BasicHttpBinding_IErrorLogService" />
       <endpoint address="https://jstyservices.juststay.in/RestChairProfileService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IRestChairProfileService" contract="RCProfileServiceReference.IRestChairProfileService" name="BasicHttpBinding_IRestChairProfileService" />
       <endpoint address="https://jstyservices.juststay.in/RCPaymentService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IRCPaymentService" contract="RCPaymentServiceReference.IRCPaymentService" name="BasicHttpBinding_IRCPaymentService" />
       <endpoint address="https://jstyservices.juststay.in/RCRefundService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IRCRefundService" contract="RCRefundServiceReference.IRCRefundService" name="BasicHttpBinding_IRCRefundService" />
       <endpoint address="https://jstyservices.juststay.in/CompanyService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_ICompanyService" contract="CompanyServiceReference.ICompanyService" name="BasicHttpBinding_ICompanyService" />
       <endpoint address="https://jstyservices.juststay.in/DashboardService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IDashboardService" contract="DashboardServiceReference.IDashboardService" name="BasicHttpBinding_IDashboardService" />
       <endpoint address="https://jstyservices.juststay.in/ReportService.svc" binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IReportService" contract="ReportServiceReference.IReportService" name="BasicHttpBinding_IReportService" />-->
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>